In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/spencerwegner/Documents/School/4th Year/fall-2019/csci-4022-data-science/project/tavakaiv/pikes_peak_results.csv")
df=df.drop(columns='First')
df=df.drop(columns='Mi')
df=df.drop(columns='Last')

In [3]:
df = df.astype({'Pos': 'float', 'Div': 'str', 'Mpos': 'float', 'Mdiv': 'str', 'Sex': 'str', 'Age': 'float', \
                'Grp': 'str', 'City': 'str', 'State': 'str', 'NNup': 'str', 'BCupSplit': 'str', 'BCup': 'str', \
                'AFupSplit': 'str', 'AFup': 'str', 'AscSplit': 'str', 'Asc': 'str', 'AFdwnSplit': 'str', \
                'AFdwn': 'str', 'BCdwnSplit': 'str', 'BCdwn': 'str', 'NNdwnSplit': 'str', 'NNdwn': 'str', \
                'DwnSplit': 'str', 'Dwn': 'str', 'Mar': 'str', 'Race': 'str'})

In [4]:
df['NNup'] = pd.to_datetime(df['NNup'], format='%H:%M:%S')
df['BCupSplit'] = pd.to_datetime(df['BCupSplit'], format='%H:%M:%S')
df['BCup'] = pd.to_datetime(df['BCup'], format='%H:%M:%S')
df['AFupSplit'] = pd.to_datetime(df['AFupSplit'], format='%H:%M:%S')
df['AFup'] = pd.to_datetime(df['AFup'], format='%H:%M:%S')
df['AscSplit'] = pd.to_datetime(df['AscSplit'], format='%H:%M:%S')
df['Asc'] = pd.to_datetime(df['Asc'], format='%H:%M:%S')
df['AFdwnSplit'] = pd.to_datetime(df['AFdwnSplit'], format='%H:%M:%S')
df['AFdwn'] = pd.to_datetime(df['AFdwn'], format='%H:%M:%S')
df['BCdwnSplit'] = pd.to_datetime(df['BCdwnSplit'], format='%H:%M:%S')
df['BCdwn'] = pd.to_datetime(df['BCdwn'], format='%H:%M:%S')
df['NNdwnSplit'] = pd.to_datetime(df['NNdwnSplit'], format='%H:%M:%S')
df['NNdwn'] = pd.to_datetime(df['NNdwn'], format='%H:%M:%S')
df['DwnSplit'] = pd.to_datetime(df['DwnSplit'], format='%H:%M:%S')
df['Dwn'] = pd.to_datetime(df['Dwn'], format='%H:%M:%S')
df['Mar'] = pd.to_datetime(df['Mar'], format='%H:%M:%S')

In [5]:
df.head() #DF with both ascent and marathon racers

,ID,Pos,Div,Mpos,Mdiv,PPs,Sex,Age,Grp,City,...,AFdwn,BCdwnSplit,BCdwn,NNdwnSplit,NNdwn,DwnSplit,Dwn,Mar,Race,Year
0,79698,410.0,67/77,NaN,nan,1,F,34.0,30-34,COLORADO SPGS,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,2011
1,110626,257.0,40/132,NaN,nan,1,M,34.0,30-34,LAKEWOOD,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,2017
2,75566,891.0,86/102,NaN,nan,1,M,29.0,25-29,SAN ANTONIO,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,2009
3,70663,414.0,69/83,NaN,nan,2,F,39.0,35-39,COLORADO SPGS,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,2007
4,74588,397.0,49/63,NaN,nan,2,F,41.0,40-44,COLORADO SPGS,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,A,2009

In [10]:
dfA=df[df.Race=='A']
dfA = dfA.drop(columns = ['AFdwnSplit', 'AFdwn', 'BCdwnSplit', 'BCdwn', 'NNdwnSplit', 'NNdwn', 'DwnSplit', \
                         'Dwn', 'Mar', 'Mpos', 'Mdiv'])

In [11]:
dfA.head() #DF with only ascent racers

,ID,Pos,Div,PPs,Sex,Age,Grp,City,State,NNup,BCupSplit,BCup,AFupSplit,AFup,AscSplit,Asc,Race,Year
0,79698,410.0,67/77,1,F,34.0,30-34,COLORADO SPGS,CO,NaT,NaT,NaT,NaT,NaT,NaT,1900-01-01 05:31:08,A,2011
1,110626,257.0,40/132,1,M,34.0,30-34,LAKEWOOD,CO,NaT,NaT,1900-01-01 01:52:14,1900-01-01 00:52:03,1900-01-01 02:44:17,1900-01-01 01:12:59,1900-01-01 03:57:16,A,2017
2,75566,891.0,86/102,1,M,29.0,25-29,SAN ANTONIO,TX,NaT,NaT,NaT,NaT,NaT,NaT,1900-01-01 04:57:48,A,2009
3,70663,414.0,69/83,2,F,39.0,35-39,COLORADO SPGS,CO,NaT,NaT,NaT,NaT,NaT,NaT,1900-01-01 05:46:21,A,2007
4,74588,397.0,49/63,2,F,41.0,40-44,COLORADO SPGS,CO,NaT,NaT,NaT,NaT,NaT,NaT,1900-01-01 05:32:11,A,2009

In [12]:
dfM=df[df.Race=='M']
dfM = dfM.drop(columns = ['Pos', 'Div'])

In [13]:
dfM.head() #DF with only marathon racers

,ID,Mpos,Mdiv,PPs,Sex,Age,Grp,City,State,NNup,...,AFdwn,BCdwnSplit,BCdwn,NNdwnSplit,NNdwn,DwnSplit,Dwn,Mar,Race,Year
12,111562,170.0,15/17,3,F,55.0,55-59,COLORADO SPRING,CO,1900-01-01 01:32:35,...,NaT,NaT,1900-01-01 07:58:48,NaT,NaT,NaT,1900-01-01 03:44:45,1900-01-01 09:47:05,M,2017
13,79048,402.0,51/70,1,M,52.0,50-54,CORAL SPRINGS,FL,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,1900-01-01 03:03:56,1900-01-01 08:03:51,M,2010
19,44930,164.0,54/101,3,M,31.0,30-34,AUSTIN,TX,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,1900-01-01 01:58:15,1900-01-01 05:21:16,M,1981
20,48926,197.0,56/108,3,M,32.0,30-34,WESTFORD,MA,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,1900-01-01 02:06:25,1900-01-01 05:39:32,M,1982
24,114099,14.0,Mar-79,3,M,35.0,35-39,BOULDER,CO,1900-01-01 00:46:23,...,1900-01-01 03:15:35,1900-01-01 00:20:30,1900-01-01 03:36:05,1900-01-01 00:25:36,1900-01-01 04:01:41,1900-01-01 00:26:37,1900-01-01 01:39:41,1900-01-01 04:28:18,M,2018