<a id='top'></a>
# Tavakaiv
An Exploration of the Pikes Peak Ascent and Marathon  
CSCI 4022 Advanced Data Science  
Fall 2019  
Mark Ivlev and Spencer Wegner

Links:  
[Data Cleaning](#data-cleaning) | 
[Clustering](#clustering)

<a id='data-cleaning'></a>
[Back to Top](#top)
### Data Cleaning

In [43]:
import pandas as pd
import numpy as np

In [73]:
df = pd.read_csv("/Users/spencerwegner/Documents/School/4th Year/fall-2019/csci-4022-data-science/project/tavakaiv/pikes_peak_results.csv")
# drop name information
df=df.drop(columns='First')
df=df.drop(columns='Mi')
df=df.drop(columns='Last')

In [74]:
# update column types (convert times to strings for next step)
df = df.astype({'Pos': 'float', 'Div': 'str', 'Mpos': 'float', 'Mdiv': 'str', 'Sex': 'str', 'Age': 'float', \
                'Grp': 'str', 'City': 'str', 'State': 'str', 'NNup': 'str', 'BCupSplit': 'str', 'BCup': 'str', \
                'AFupSplit': 'str', 'AFup': 'str', 'AscSplit': 'str', 'Asc': 'str', 'AFdwnSplit': 'str', \
                'AFdwn': 'str', 'BCdwnSplit': 'str', 'BCdwn': 'str', 'NNdwnSplit': 'str', 'NNdwn': 'str', \
                'DwnSplit': 'str', 'Dwn': 'str', 'Mar': 'str', 'Race': 'str'})

In [75]:
# convert times (strings) to datetime type
df['NNup'] = pd.to_datetime(df['NNup'], format='%H:%M:%S')
df['BCupSplit'] = pd.to_datetime(df['BCupSplit'], format='%H:%M:%S')
df['BCup'] = pd.to_datetime(df['BCup'], format='%H:%M:%S')
df['AFupSplit'] = pd.to_datetime(df['AFupSplit'], format='%H:%M:%S')
df['AFup'] = pd.to_datetime(df['AFup'], format='%H:%M:%S')
df['AscSplit'] = pd.to_datetime(df['AscSplit'], format='%H:%M:%S')
df['Asc'] = pd.to_datetime(df['Asc'], format='%H:%M:%S')
df['AFdwnSplit'] = pd.to_datetime(df['AFdwnSplit'], format='%H:%M:%S')
df['AFdwn'] = pd.to_datetime(df['AFdwn'], format='%H:%M:%S')
df['BCdwnSplit'] = pd.to_datetime(df['BCdwnSplit'], format='%H:%M:%S')
df['BCdwn'] = pd.to_datetime(df['BCdwn'], format='%H:%M:%S')
df['NNdwnSplit'] = pd.to_datetime(df['NNdwnSplit'], format='%H:%M:%S')
df['NNdwn'] = pd.to_datetime(df['NNdwn'], format='%H:%M:%S')
df['DwnSplit'] = pd.to_datetime(df['DwnSplit'], format='%H:%M:%S')
df['Dwn'] = pd.to_datetime(df['Dwn'], format='%H:%M:%S')
df['Mar'] = pd.to_datetime(df['Mar'], format='%H:%M:%S')

In [77]:
# convert time to seconds
def time_seconds(hours, minutes, seconds):
    return 3600*hours + 60*minutes + seconds

# use lambda and apply to update time columns with seconds (takes a minute or so to run)
df['NNup'] = df.apply(lambda x: time_seconds(x['NNup'].hour, x['NNup'].minute, x['NNup'].second), axis=1)
df['BCupSplit'] = df.apply(lambda x: time_seconds(x['BCupSplit'].hour, x['BCupSplit'].minute, x['BCupSplit'].second), axis=1)
df['BCup'] = df.apply(lambda x: time_seconds(x['BCup'].hour, x['BCup'].minute, x['BCup'].second), axis=1)
df['AFupSplit'] = df.apply(lambda x: time_seconds(x['AFupSplit'].hour, x['AFupSplit'].minute, x['AFupSplit'].second), axis=1)
df['AFup'] = df.apply(lambda x: time_seconds(x['AFup'].hour, x['AFup'].minute, x['AFup'].second), axis=1)
df['AscSplit'] = df.apply(lambda x: time_seconds(x['AscSplit'].hour, x['AscSplit'].minute, x['AscSplit'].second), axis=1)
df['Asc'] = df.apply(lambda x: time_seconds(x['Asc'].hour, x['Asc'].minute, x['Asc'].second), axis=1)
df['AFdwnSplit'] = df.apply(lambda x: time_seconds(x['AFdwnSplit'].hour, x['AFdwnSplit'].minute, x['AFdwnSplit'].second), axis=1)
df['AFdwn'] = df.apply(lambda x: time_seconds(x['AFdwn'].hour, x['AFdwn'].minute, x['AFdwn'].second), axis=1)
df['BCdwnSplit'] = df.apply(lambda x: time_seconds(x['BCdwnSplit'].hour, x['BCdwnSplit'].minute, x['BCdwnSplit'].second), axis=1)
df['BCdwn'] = df.apply(lambda x: time_seconds(x['BCdwn'].hour, x['BCdwn'].minute, x['BCdwn'].second), axis=1)
df['NNdwnSplit'] = df.apply(lambda x: time_seconds(x['NNdwnSplit'].hour, x['NNdwnSplit'].minute, x['NNdwnSplit'].second), axis=1)
df['NNdwn'] = df.apply(lambda x: time_seconds(x['NNdwn'].hour, x['NNdwn'].minute, x['NNdwn'].second), axis=1)
df['DwnSplit'] = df.apply(lambda x: time_seconds(x['DwnSplit'].hour, x['DwnSplit'].minute, x['DwnSplit'].second), axis=1)
df['Dwn'] = df.apply(lambda x: time_seconds(x['Dwn'].hour, x['Dwn'].minute, x['Dwn'].second), axis=1)
df['Mar'] = df.apply(lambda x: time_seconds(x['Mar'].hour, x['Mar'].minute, x['Mar'].second), axis=1)

In [81]:
df.head() # DF with both ascent and marathon racers

,ID,Pos,Div,Mpos,Mdiv,PPs,Sex,Age,Grp,City,...,AFdwn,BCdwnSplit,BCdwn,NNdwnSplit,NNdwn,DwnSplit,Dwn,Mar,Race,Year
0,79698,410.0,67/77,NaN,nan,1,F,34.0,30-34,COLORADO SPGS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2011
1,110626,257.0,40/132,NaN,nan,1,M,34.0,30-34,LAKEWOOD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2017
2,75566,891.0,86/102,NaN,nan,1,M,29.0,25-29,SAN ANTONIO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2009
3,70663,414.0,69/83,NaN,nan,2,F,39.0,35-39,COLORADO SPGS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2007
4,74588,397.0,49/63,NaN,nan,2,F,41.0,40-44,COLORADO SPGS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2009

In [82]:
# create dataframe for ascent races
dfA=df[df.Race=='A']
dfA = dfA.drop(columns = ['AFdwnSplit', 'AFdwn', 'BCdwnSplit', 'BCdwn', 'NNdwnSplit', 'NNdwn', 'DwnSplit', \
                         'Dwn', 'Mar', 'Mpos', 'Mdiv'])

In [83]:
dfA.head() # DF with only ascent racers

,ID,Pos,Div,PPs,Sex,Age,Grp,City,State,NNup,BCupSplit,BCup,AFupSplit,AFup,AscSplit,Asc,Race,Year
0,79698,410.0,67/77,1,F,34.0,30-34,COLORADO SPGS,CO,NaN,NaN,NaN,NaN,NaN,NaN,19868.0,A,2011
1,110626,257.0,40/132,1,M,34.0,30-34,LAKEWOOD,CO,NaN,NaN,6734.0,3123.0,9857.0,4379.0,14236.0,A,2017
2,75566,891.0,86/102,1,M,29.0,25-29,SAN ANTONIO,TX,NaN,NaN,NaN,NaN,NaN,NaN,17868.0,A,2009
3,70663,414.0,69/83,2,F,39.0,35-39,COLORADO SPGS,CO,NaN,NaN,NaN,NaN,NaN,NaN,20781.0,A,2007
4,74588,397.0,49/63,2,F,41.0,40-44,COLORADO SPGS,CO,NaN,NaN,NaN,NaN,NaN,NaN,19931.0,A,2009

In [84]:
# create dataframe for marathon races
dfM=df[df.Race=='M']
dfM = dfM.drop(columns = ['Pos', 'Div'])

In [85]:
dfM.head() # DF with only marathon racers

,ID,Mpos,Mdiv,PPs,Sex,Age,Grp,City,State,NNup,...,AFdwn,BCdwnSplit,BCdwn,NNdwnSplit,NNdwn,DwnSplit,Dwn,Mar,Race,Year
12,111562,170.0,15/17,3,F,55.0,55-59,COLORADO SPRING,CO,5555.0,...,NaN,NaN,28728.0,NaN,NaN,NaN,13485.0,35225.0,M,2017
13,79048,402.0,51/70,1,M,52.0,50-54,CORAL SPRINGS,FL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11036.0,29031.0,M,2010
19,44930,164.0,54/101,3,M,31.0,30-34,AUSTIN,TX,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7095.0,19276.0,M,1981
20,48926,197.0,56/108,3,M,32.0,30-34,WESTFORD,MA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7585.0,20372.0,M,1982
24,114099,14.0,3/79,3,M,35.0,35-39,BOULDER,CO,2783.0,...,11735.0,1230.0,12965.0,1536.0,14501.0,1597.0,5981.0,16098.0,M,2018

<a id='clustering'></a>
### Clustering