<a id='top'></a>
# Tavakaiv
An Exploration of the Pikes Peak Ascent and Marathon  
CSCI 4022 Advanced Data Science  
Fall 2019  
Mark Ivlev and Spencer Wegner

Links:  
[Data Cleaning](#data-cleaning) | 
[Clustering](#clustering)

<a id='data-cleaning'></a>
[Back to Top](#top)
### Data Cleaning

#### Notes:
- drop DNF's
- drop AG 1-15
- K-means: AG score and overall score

In [157]:
import pandas as pd
import numpy as np

In [187]:
df = pd.read_csv("/Users/spencerwegner/Documents/School/4th Year/fall-2019/csci-4022-data-science/project/tavakaiv/pikes_peak_results.csv")
# drop name information
df=df.drop(columns='First')
df=df.drop(columns='Mi')
df=df.drop(columns='Last')

In [188]:
# update column types (convert times to strings for next step)
df = df.astype({'Pos': 'float', 'Div': 'str', 'Mpos': 'float', 'Mdiv': 'str', 'Sex': 'str', 'Age': 'float', \
                'Grp': 'str', 'City': 'str', 'State': 'str', 'NNup': 'str', 'BCupSplit': 'str', 'BCup': 'str', \
                'AFupSplit': 'str', 'AFup': 'str', 'AscSplit': 'str', 'Asc': 'str', 'AFdwnSplit': 'str', \
                'AFdwn': 'str', 'BCdwnSplit': 'str', 'BCdwn': 'str', 'NNdwnSplit': 'str', 'NNdwn': 'str', \
                'DwnSplit': 'str', 'Dwn': 'str', 'Mar': 'str', 'Race': 'str'})

In [189]:
# convert times (strings) to datetime type
df['NNup'] = pd.to_datetime(df['NNup'], format='%H:%M:%S')
df['BCupSplit'] = pd.to_datetime(df['BCupSplit'], format='%H:%M:%S')
df['BCup'] = pd.to_datetime(df['BCup'], format='%H:%M:%S')
df['AFupSplit'] = pd.to_datetime(df['AFupSplit'], format='%H:%M:%S')
df['AFup'] = pd.to_datetime(df['AFup'], format='%H:%M:%S')
df['AscSplit'] = pd.to_datetime(df['AscSplit'], format='%H:%M:%S')
df['Asc'] = pd.to_datetime(df['Asc'], format='%H:%M:%S')
df['AFdwnSplit'] = pd.to_datetime(df['AFdwnSplit'], format='%H:%M:%S')
df['AFdwn'] = pd.to_datetime(df['AFdwn'], format='%H:%M:%S')
df['BCdwnSplit'] = pd.to_datetime(df['BCdwnSplit'], format='%H:%M:%S')
df['BCdwn'] = pd.to_datetime(df['BCdwn'], format='%H:%M:%S')
df['NNdwnSplit'] = pd.to_datetime(df['NNdwnSplit'], format='%H:%M:%S')
df['NNdwn'] = pd.to_datetime(df['NNdwn'], format='%H:%M:%S')
df['DwnSplit'] = pd.to_datetime(df['DwnSplit'], format='%H:%M:%S')
df['Dwn'] = pd.to_datetime(df['Dwn'], format='%H:%M:%S')
df['Mar'] = pd.to_datetime(df['Mar'], format='%H:%M:%S')

In [190]:
# convert time to seconds
def time_seconds(hours, minutes, seconds):
    return 3600*hours + 60*minutes + seconds

# use lambda and apply to update time columns with seconds (takes a minute or so to run)
df['NNup'] = df.apply(lambda x: time_seconds(x['NNup'].hour, x['NNup'].minute, x['NNup'].second), axis=1)
df['BCupSplit'] = df.apply(lambda x: time_seconds(x['BCupSplit'].hour, x['BCupSplit'].minute, x['BCupSplit'].second), axis=1)
df['BCup'] = df.apply(lambda x: time_seconds(x['BCup'].hour, x['BCup'].minute, x['BCup'].second), axis=1)
df['AFupSplit'] = df.apply(lambda x: time_seconds(x['AFupSplit'].hour, x['AFupSplit'].minute, x['AFupSplit'].second), axis=1)
df['AFup'] = df.apply(lambda x: time_seconds(x['AFup'].hour, x['AFup'].minute, x['AFup'].second), axis=1)
df['AscSplit'] = df.apply(lambda x: time_seconds(x['AscSplit'].hour, x['AscSplit'].minute, x['AscSplit'].second), axis=1)
df['Asc'] = df.apply(lambda x: time_seconds(x['Asc'].hour, x['Asc'].minute, x['Asc'].second), axis=1)
df['AFdwnSplit'] = df.apply(lambda x: time_seconds(x['AFdwnSplit'].hour, x['AFdwnSplit'].minute, x['AFdwnSplit'].second), axis=1)
df['AFdwn'] = df.apply(lambda x: time_seconds(x['AFdwn'].hour, x['AFdwn'].minute, x['AFdwn'].second), axis=1)
df['BCdwnSplit'] = df.apply(lambda x: time_seconds(x['BCdwnSplit'].hour, x['BCdwnSplit'].minute, x['BCdwnSplit'].second), axis=1)
df['BCdwn'] = df.apply(lambda x: time_seconds(x['BCdwn'].hour, x['BCdwn'].minute, x['BCdwn'].second), axis=1)
df['NNdwnSplit'] = df.apply(lambda x: time_seconds(x['NNdwnSplit'].hour, x['NNdwnSplit'].minute, x['NNdwnSplit'].second), axis=1)
df['NNdwn'] = df.apply(lambda x: time_seconds(x['NNdwn'].hour, x['NNdwn'].minute, x['NNdwn'].second), axis=1)
df['DwnSplit'] = df.apply(lambda x: time_seconds(x['DwnSplit'].hour, x['DwnSplit'].minute, x['DwnSplit'].second), axis=1)
df['Dwn'] = df.apply(lambda x: time_seconds(x['Dwn'].hour, x['Dwn'].minute, x['Dwn'].second), axis=1)
df['Mar'] = df.apply(lambda x: time_seconds(x['Mar'].hour, x['Mar'].minute, x['Mar'].second), axis=1)

In [191]:
dftemp = df

In [192]:
dftemp.loc[(dftemp['Race'] == 'A') & (dftemp['Year'] == 1975) & (dftemp['Grp'] == '45-49') & (dftemp['Sex'] == 'F')]

,ID,Pos,Div,Mpos,Mdiv,PPs,Sex,Age,Grp,City,...,AFdwn,BCdwnSplit,BCdwn,NNdwnSplit,NNdwn,DwnSplit,Dwn,Mar,Race,Year
1646,56580,5.0,4/18,NaN,nan,4,F,46.0,45-49,OAKLAND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,1975
14150,56582,9.0,6/18,NaN,nan,1,F,47.0,45-49,SANTA FE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,1975

In [163]:
df.head() # DF with both ascent and marathon racers

,ID,Pos,Div,Mpos,Mdiv,PPs,Sex,Age,Grp,City,...,AFdwn,BCdwnSplit,BCdwn,NNdwnSplit,NNdwn,DwnSplit,Dwn,Mar,Race,Year
0,79698,410.0,67/77,NaN,nan,1,F,34.0,30-34,COLORADO SPGS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2011
1,110626,257.0,40/132,NaN,nan,1,M,34.0,30-34,LAKEWOOD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2017
2,75566,891.0,86/102,NaN,nan,1,M,29.0,25-29,SAN ANTONIO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2009
3,70663,414.0,69/83,NaN,nan,2,F,39.0,35-39,COLORADO SPGS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2007
4,74588,397.0,49/63,NaN,nan,2,F,41.0,40-44,COLORADO SPGS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2009

In [164]:
# create dataframe for ascent races
dfA=df[df.Race=='A']
dfA = dfA.drop(columns = ['AFdwnSplit', 'AFdwn', 'BCdwnSplit', 'BCdwn', 'NNdwnSplit', 'NNdwn', 'DwnSplit', \
                         'Dwn', 'Mar', 'Mpos', 'Mdiv'])

In [165]:
def parse_div(Mdiv):
    return Mdiv.split('/')[0]

dfA['Div_place'] = dfA.apply(lambda x: parse_div(x['Div']), axis=1)

In [166]:
dfA.head() # DF with only ascent racers

,ID,Pos,Div,PPs,Sex,Age,Grp,City,State,NNup,BCupSplit,BCup,AFupSplit,AFup,AscSplit,Asc,Race,Year,Div_place
0,79698,410.0,67/77,1,F,34.0,30-34,COLORADO SPGS,CO,NaN,NaN,NaN,NaN,NaN,NaN,19868.0,A,2011,67
1,110626,257.0,40/132,1,M,34.0,30-34,LAKEWOOD,CO,NaN,NaN,6734.0,3123.0,9857.0,4379.0,14236.0,A,2017,40
2,75566,891.0,86/102,1,M,29.0,25-29,SAN ANTONIO,TX,NaN,NaN,NaN,NaN,NaN,NaN,17868.0,A,2009,86
3,70663,414.0,69/83,2,F,39.0,35-39,COLORADO SPGS,CO,NaN,NaN,NaN,NaN,NaN,NaN,20781.0,A,2007,69
4,74588,397.0,49/63,2,F,41.0,40-44,COLORADO SPGS,CO,NaN,NaN,NaN,NaN,NaN,NaN,19931.0,A,2009,49

In [167]:
# Div rows to drop based on these values
drop_list_asc = ['DNF', 'DNF-OCO', 'DNF-AF', 'DNF-BC', '', 'DNF-NN',
        'DNF-3', 'DNF-BP', 'DNF-IO', 'DQ-WAVE', '?', 'DNF-<BP', 'DNF-RX',
        'DNF-HR', 'DNF-<BR', 'DNF-<BC', 'DNF-BR', 'DQ-US',
        'DNF-Ws', 'DNF-NN+', 'DNF-<NN', 'DNF-INC', 'DQ-SWAP', 'DQed',
        'DNF-8m', 'DNF-4m', 'DNF-<AF', 'DNF-7m', 'DNF-11m',
       'DQ', 'DNF-UR', 'DNF-ST']

In [168]:
# drop DNF's, DQ's, and NaN's
for index, row in dfA.iterrows():
    if row['Div'] in drop_list_asc:
        dfA.drop(index, inplace=True)

In [169]:
# create dataframe for marathon races
dfM=df[df.Race=='M']
dfM = dfM.drop(columns = ['Pos', 'Div'])

In [170]:
# Mdiv rows to drop based on these values
drop_list_mar = ['DNF-TOP', 'DNF-OCT', 'DNF', 'DNF-OCO', 'DNF-AF',
        'DNF-R', 'DQ-AF', 'DNF-BC', 'DNF-NN', 'DNF->BC','DNF-CQ', 'DNF-12+',
       'DNF->AF', 'DNF-<AF', 'DNF-11m', 'DNF-Top', 'DNF-BC+', 'DQ-Wave', 'nan',
        'DNF-Ws', 'DQ-BC', 'DQ', 'DNF-<NN', 'DNF-BP', 'DNF-RX',
       'DNF-<BC', 'DNF-BR', 'DNF-WET', 'DNF-COG', 'DNF-FX', 'DNF-TMS',
       'DNF-AF+', 'DNF-SMK', 'DNF-IO', 'DNF-NN+', '']

In [171]:
# drop DNF's, DQ's, and NaN's
for index, row in dfM.iterrows():
    if row['Mdiv'] in drop_list_mar:
        dfM.drop(index, inplace=True)

In [172]:
def parse_div(Mdiv):
    return Mdiv.split('/')[0]

dfM['Mdiv_place'] = dfM.apply(lambda x: parse_div(x['Mdiv']), axis=1)

In [173]:
dfM.head() # DF with only marathon racers

,ID,Mpos,Mdiv,PPs,Sex,Age,Grp,City,State,NNup,...,BCdwnSplit,BCdwn,NNdwnSplit,NNdwn,DwnSplit,Dwn,Mar,Race,Year,Mdiv_place
12,111562,170.0,15/17,3,F,55.0,55-59,COLORADO SPRING,CO,5555.0,...,NaN,28728.0,NaN,NaN,NaN,13485.0,35225.0,M,2017,15
13,79048,402.0,51/70,1,M,52.0,50-54,CORAL SPRINGS,FL,NaN,...,NaN,NaN,NaN,NaN,NaN,11036.0,29031.0,M,2010,51
19,44930,164.0,54/101,3,M,31.0,30-34,AUSTIN,TX,NaN,...,NaN,NaN,NaN,NaN,NaN,7095.0,19276.0,M,1981,54
20,48926,197.0,56/108,3,M,32.0,30-34,WESTFORD,MA,NaN,...,NaN,NaN,NaN,NaN,NaN,7585.0,20372.0,M,1982,56
24,114099,14.0,3/79,3,M,35.0,35-39,BOULDER,CO,2783.0,...,1230.0,12965.0,1536.0,14501.0,1597.0,5981.0,16098.0,M,2018,3

<a id='clustering'></a>
### Clustering

In [174]:
# Ascent
# add score column to dfM
dfA['score'] = np.nan

# compute score = fastest AG Mar time / Mar time (1 for first in AG)
age_groups = ['30-34', '25-29', '35-39', '40-44', '20-24', '45-49', '50-54', '55-59', '60-64', \
              '16-19', '65-69', '70-74', '75-79','80-84', '85-89']
for year in range(1956, 2019):
    for ag in age_groups:
        for sex in ['M', 'F']:
            # create temporary DataFrame
            dfT = dfA.loc[(dfA['Year'] == year) & (dfA['Grp'] == ag) & (dfA['Sex'] == sex)]
            try:
                best_time = min(dfT['Asc'])
            except ValueError: # nobody in AG
                # print(year, ag, sex)
                continue
            for index, row in dfT.iterrows():
                score = best_time/row['Asc']
                dfA.loc[index, 'score'] = score

1956 30-34 M
1956 30-34 F
1956 25-29 M
1956 25-29 F
1956 35-39 M
1956 35-39 F
1956 40-44 M
1956 40-44 F
1956 20-24 M
1956 20-24 F
1956 45-49 M
1956 45-49 F
1956 50-54 M
1956 50-54 F
1956 55-59 M
1956 55-59 F
1956 60-64 M
1956 60-64 F
1956 16-19 M
1956 16-19 F
1956 65-69 M
1956 65-69 F
1956 70-74 M
1956 70-74 F
1956 75-79 M
1956 75-79 F
1956 80-84 M
1956 80-84 F
1956 85-89 M
1956 85-89 F
1957 30-34 M
1957 30-34 F
1957 25-29 M
1957 25-29 F
1957 35-39 M
1957 35-39 F
1957 40-44 M
1957 40-44 F
1957 20-24 M
1957 20-24 F
1957 45-49 M
1957 45-49 F
1957 50-54 M
1957 50-54 F
1957 55-59 M
1957 55-59 F
1957 60-64 M
1957 60-64 F
1957 16-19 M
1957 16-19 F
1957 65-69 M
1957 65-69 F
1957 70-74 M
1957 70-74 F
1957 75-79 M
1957 75-79 F
1957 80-84 M
1957 80-84 F
1957 85-89 M
1957 85-89 F
1958 30-34 M
1958 30-34 F
1958 25-29 M
1958 25-29 F
1958 35-39 M
1958 35-39 F
1958 40-44 M
1958 40-44 F
1958 20-24 M
1958 20-24 F
1958 45-49 M
1958 45-49 F
1958 50-54 M
1958 50-54 F
1958 55-59 M
1958 55-59 F
1958 60-64 M
1958 60-64 F
1958 16-19 M
1958 16-19 F
1958 65-69 M
1958 65-69 F
1958 70-74 M
1958 70-74 F
1958 75-79 M
1958 75-79 F
1958 80-84 M
1958 80-84 F
1958 85-89 M
1958 85-89 F
1959 30-34 M
1959 30-34 F
1959 25-29 M
1959 25-29 F
1959 35-39 M
1959 35-39 F
1959 40-44 M
1959 40-44 F
1959 20-24 M
1959 20-24 F
1959 45-49 M
1959 45-49 F
1959 50-54 M
1959 55-59 M
1959 55-59 F
1959 60-64 M
1959 60-64 F
1959 16-19 M
1959 16-19 F
1959 65-69 M
1959 65-69 F
1959 70-74 M
1959 70-74 F
1959 75-79 M
1959 75-79 F
1959 80-84 M
1959 80-84 F
1959 85-89 M
1959 85-89 F
1960 30-34 M
1960 30-34 F
1960 25-29 M
1960 25-29 F
1960 35-39 M
1960 35-39 F
1960 40-44 M
1960 40-44 F
1960 20-24 M
1960 20-24 F
1960 45-49 M
1960 45-49 F
1960 50-54 M
1960 50-54 F
1960 55-59 M
1960 55-59 F
1960 60-64 M
1960 60-64 F
1960 16-19 M
1960 16-19 F
1960 65-69 M
1960 65-69 F
1960 70-74 M
1960 70-74 F
1960 75-79 M
1960 75-79 F
1960 80-84 M
1960 80-84 F
1960 85-89 M
1960 85-89 F
1961 30-34 M
1961 30-34 F
1961 25-29 M
1961 25-29 F
1961 35-39 M
1961 35-39 F
1961 40-44 M
1961 40-44 F
1961 20-24 M
1961 45-49 M
1961 45-49 F
1961 50-54 M
1961 50-54 F
1961 55-59 M
1961 55-59 F
1961 60-64 M
1961 16-19 M
1961 16-19 F
1961 65-69 M
1961 65-69 F
1961 70-74 M
1961 70-74 F
1961 75-79 M
1961 75-79 F
1961 80-84 M
1961 80-84 F
1961 85-89 M
1961 85-89 F
1962 30-34 M
1962 30-34 F
1962 25-29 M
1962 35-39 M
1962 35-39 F
1962 40-44 M
1962 40-44 F
1962 20-24 M
1962 20-24 F
1962 45-49 M
1962 45-49 F
1962 50-54 M
1962 50-54 F
1962 55-59 M
1962 55-59 F
1962 60-64 M
1962 16-19 M
1962 65-69 M
1962 65-69 F
1962 70-74 M
1962 70-74 F
1962 75-79 M
1962 75-79 F
1962 80-84 M
1962 80-84 F
1962 85-89 M
1962 85-89 F
1963 30-34 M
1963 25-29 M
1963 35-39 M
1963 35-39 F
1963 40-44 M
1963 40-44 F
1963 20-24 M
1963 20-24 F
1963 45-49 M
1963 45-49 F
1963 50-54 M
1963 50-54 F
1963 55-59 M
1963 55-59 F
1963 60-64 M
1963 16-19 M
1963 16-19 F
1963 65-69 M
1963 65-69 F
1963 70-74 M
1963 70-74 F
1963 75-79 M
1963 75-79 F
1963 80-84 M
1963 80-84 F
1963 85-89 M
1963 85-89 F
1964 30-34 M
1964 25-29 M
1964 25-29 F
1964 35-39 M
1964 40-44 M
1964 40-44 F
1964 20-24 M
1964 20-24 F
1964 45-49 M
1964 50-54 M
1964 50-54 F
1964 55-59 M
1964 55-59 F
1964 60-64 M
1964 16-19 M
1964 65-69 M
1964 65-69 F
1964 70-74 M
1964 70-74 F
1964 75-79 M
1964 75-79 F
1964 80-84 M
1964 80-84 F
1964 85-89 M
1964 85-89 F
1965 30-34 M
1965 30-34 F
1965 25-29 M
1965 25-29 F
1965 35-39 M
1965 35-39 F
1965 40-44 F
1965 20-24 M
1965 20-24 F
1965 45-49 F
1965 50-54 F
1965 55-59 M
1965 55-59 F
1965 60-64 M
1965 60-64 F
1965 16-19 F
1965 65-69 M
1965 65-69 F
1965 70-74 M
1965 70-74 F
1965 75-79 M
1965 75-79 F
1965 80-84 M
1965 80-84 F
1965 85-89 M
1965 85-89 F
1966 30-34 M
1966 30-34 F
1966 25-29 M
1966 25-29 F
1966 35-39 M
1966 35-39 F
1966 40-44 M
1966 40-44 F
1966 20-24 M
1966 20-24 F
1966 45-49 M
1966 45-49 F
1966 50-54 F
1966 55-59 M
1966 55-59 F
1966 60-64 M
1966 60-64 F
1966 16-19 F
1966 65-69 F
1966 70-74 M
1966 70-74 F
1966 75-79 M
1966 75-79 F
1966 80-84 M
1966 80-84 F
1966 85-89 M
1966 85-89 F
1967 30-34 M
1967 30-34 F
1967 25-29 M
1967 25-29 F
1967 35-39 M
1967 35-39 F
1967 40-44 M
1967 40-44 F
1967 20-24 M
1967 20-24 F
1967 45-49 M
1967 45-49 F
1967 50-54 F
1967 55-59 M
1967 55-59 F
1967 60-64 M
1967 60-64 F
1967 16-19 F
1967 65-69 F
1967 70-74 M
1967 70-74 F
1967 75-79 M
1967 75-79 F
1967 80-84 M
1967 80-84 F
1967 85-89 M
1967 85-89 F
1968 30-34 M
1968 30-34 F
1968 25-29 M
1968 25-29 F
1968 35-39 M
1968 35-39 F
1968 40-44 F
1968 20-24 M
1968 20-24 F
1968 45-49 F
1968 50-54 M
1968 50-54 F
1968 55-59 M
1968 55-59 F
1968 60-64 M
1968 60-64 F
1968 16-19 F
1968 65-69 M
1968 65-69 F
1968 70-74 M
1968 70-74 F
1968 75-79 M
1968 75-79 F
1968 80-84 M
1968 80-84 F
1968 85-89 M
1968 85-89 F
1969 30-34 M
1969 30-34 F
1969 25-29 M
1969 25-29 F
1969 35-39 M
1969 35-39 F
1969 40-44 F
1969 20-24 M
1969 20-24 F
1969 45-49 M
1969 45-49 F
1969 50-54 F
1969 55-59 M
1969 55-59 F
1969 60-64 M
1969 60-64 F
1969 16-19 F
1969 65-69 M
1969 65-69 F
1969 70-74 M
1969 70-74 F
1969 75-79 M
1969 75-79 F
1969 80-84 M
1969 80-84 F
1969 85-89 M
1969 85-89 F
1970 30-34 M
1970 30-34 F
1970 25-29 M
1970 25-29 F
1970 35-39 M
1970 35-39 F
1970 40-44 F
1970 20-24 M
1970 20-24 F
1970 45-49 M
1970 45-49 F
1970 50-54 F
1970 55-59 M
1970 55-59 F
1970 60-64 F
1970 65-69 M
1970 65-69 F
1970 70-74 F
1970 75-79 M
1970 75-79 F
1970 80-84 M
1970 80-84 F
1970 85-89 M
1970 85-89 F
1971 25-29 F
1971 35-39 F
1971 20-24 F
1971 50-54 F
1971 55-59 F
1971 60-64 M
1971 60-64 F
1971 16-19 F
1971 65-69 F
1971 70-74 M
1971 70-74 F
1971 75-79 M
1971 75-79 F
1971 80-84 M
1971 80-84 F
1971 85-89 M
1971 85-89 F
1972 30-34 M
1972 25-29 M
1972 35-39 F
1972 40-44 F
1972 20-24 M
1972 20-24 F
1972 45-49 F
1972 50-54 F
1972 55-59 F
1972 60-64 F
1972 16-19 F
1972 65-69 F
1972 70-74 F
1972 75-79 M
1972 75-79 F
1972 80-84 M
1972 80-84 F
1972 85-89 M
1972 85-89 F
1973 50-54 F
1973 55-59 F
1973 60-64 F
1973 65-69 F
1973 70-74 F
1973 75-79 F
1973 80-84 M
1973 80-84 F
1973 85-89 M
1973 85-89 F
1974 45-49 F
1974 50-54 F
1974 55-59 F
1974 60-64 F
1974 65-69 M
1974 65-69 F
1974 70-74 F
1974 75-79 M
1974 75-79 F
1974 80-84 M
1974 80-84 F
1974 85-89 M
1974 85-89 F
1975 65-69 M
1975 65-69 F
1975 70-74 M
1975 70-74 F
1975 75-79 M
1975 75-79 F
1975 80-84 M
1975 80-84 F
1975 85-89 M
1975 85-89 F
1976 45-49 F
1976 65-69 M
1976 65-69 F
1976 70-74 F
1976 75-79 M
1976 75-79 F
1976 80-84 M
1976 80-84 F
1976 85-89 M
1976 85-89 F
1977 45-49 F
1977 55-59 F
1977 65-69 F
1977 70-74 M
1977 70-74 F
1977 75-79 M
1977 75-79 F
1977 80-84 M
1977 80-84 F
1977 85-89 M
1977 85-89 F
1978 70-74 F
1978 75-79 M
1978 75-79 F
1978 80-84 F
1978 85-89 M
1978 85-89 F
1979 55-59 F
1979 65-69 F
1979 70-74 F
1979 75-79 M
1979 75-79 F
1979 80-84 M
1979 80-84 F
1979 85-89 M
1979 85-89 F
1980 40-44 F
1980 45-49 F
1980 65-69 F
1980 70-74 M
1980 75-79 M
1980 75-79 F
1980 80-84 M
1980 80-84 F
1980 85-89 F
1981 50-54 F
1981 65-69 F
1981 75-79 M
1981 75-79 F
1981 80-84 F
1981 85-89 M
1981 85-89 F
1982 60-64 F
1982 70-74 F
1982 75-79 M
1982 80-84 M
1982 80-84 F
1982 85-89 M
1982 85-89 F
1983 60-64 F
1983 65-69 F
1983 70-74 F
1983 75-79 M
1983 75-79 F
1983 80-84 M
1983 80-84 F
1983 85-89 M
1983 85-89 F
1984 60-64 F
1984 65-69 F
1984 70-74 F
1984 75-79 F
1984 80-84 M
1984 80-84 F
1984 85-89 M
1984 85-89 F
1985 65-69 F
1985 70-74 F
1985 75-79 F
1985 80-84 M
1985 80-84 F
1985 85-89 M
1985 85-89 F
1986 70-74 F
1986 75-79 F
1986 80-84 M
1986 80-84 F
1986 85-89 M
1986 85-89 F
1987 70-74 F
1987 75-79 F
1987 80-84 M
1987 80-84 F
1987 85-89 M
1987 85-89 F
1988 70-74 F
1988 80-84 F
1988 85-89 M
1988 85-89 F
1989 70-74 F
1989 75-79 M
1989 75-79 F
1989 80-84 F
1989 85-89 M
1989 85-89 F
1990 70-74 F
1990 75-79 F
1990 80-84 M
1990 85-89 M
1990 85-89 F
1991 75-79 F
1991 80-84 M
1991 85-89 M
1991 85-89 F
1992 75-79 F
1992 80-84 M
1992 80-84 F
1992 85-89 M
1992 85-89 F
1993 75-79 F
1993 80-84 M
1993 80-84 F
1993 85-89 M
1993 85-89 F
1994 75-79 F
1994 80-84 M
1994 80-84 F
1994 85-89 M
1994 85-89 F
1995 75-79 F
1995 80-84 M
1995 80-84 F
1995 85-89 M
1995 85-89 F
1996 70-74 F
1996 75-79 F
1996 80-84 F
1996 85-89 M
1996 85-89 F
1997 70-74 F
1997 75-79 F
1997 80-84 F
1997 85-89 M
1997 85-89 F
1998 75-79 F
1998 80-84 F
1998 85-89 M
1998 85-89 F

1999 75-79 F
1999 80-84 M
1999 80-84 F
1999 85-89 M
1999 85-89 F
2000 75-79 F
2000 80-84 F
2000 85-89 M
2000 85-89 F
2001 70-74 F
2001 75-79 F
2001 80-84 M
2001 80-84 F
2001 85-89 M
2001 85-89 F
2002 75-79 M
2002 75-79 F
2002 80-84 F
2002 85-89 M
2002 85-89 F
2003 75-79 M
2003 75-79 F
2003 80-84 M
2003 80-84 F
2003 85-89 M
2003 85-89 F
2004 75-79 F
2004 80-84 M
2004 80-84 F
2004 85-89 M
2004 85-89 F
2005 75-79 F
2005 80-84 M
2005 80-84 F
2005 85-89 M
2005 85-89 F
2006 75-79 F
2006 80-84 M
2006 80-84 F
2006 85-89 M
2006 85-89 F
2007 75-79 F
2007 80-84 M
2007 80-84 F
2007 85-89 M
2007 85-89 F
2008 60-64 F
2008 65-69 F
2008 70-74 F
2008 75-79 M
2008 75-79 F
2008 80-84 M
2008 80-84 F
2008 85-89 M
2008 85-89 F
2009 75-79 F
2009 80-84 F
2009 85-89 M
2009 85-89 F
2010 80-84 F
2010 85-89 M
2010 85-89 F
2011 75-79 F
2011 80-84 F
2011 85-89 M
2011 85-89 F
2012 80-84 F
2012 85-89 M
2012 85-89 F
2013 75-79 F
2013 80-84 F
2013 85-89 M
2013 85-89 F
2014 80-84 M
2014 80-84 F
2014 85-89 M
2014 85-89 F
2015 75-79 F
2015 80-84 M
2015 80-84 F
2015 85-89 M
2015 85-89 F
2016 75-79 F
2016 80-84 M
2016 80-84 F
2016 85-89 M
2016 85-89 F
2017 75-79 F
2017 80-84 M
2017 80-84 F
2017 85-89 M
2017 85-89 F
2018 80-84 F
2018 85-89 M
2018 85-89 F

In [175]:
# Marathon
# add score column to dfM
dfM['score'] = np.nan

# compute score = fastest AG Mar time / Mar time (1 for first in AG)
age_groups = ['30-34', '25-29', '35-39', '40-44', '20-24', '45-49', '50-54', '55-59', '60-64', \
              '16-19', '65-69', '70-74', '75-79','80-84', '85-89']
for year in range(1956, 2019):
    for ag in age_groups:
        for sex in ['M', 'F']:
            # create temporary DataFrame
            dfT = dfM.loc[(dfM['Year'] == year) & (dfM['Grp'] == ag) & (dfM['Sex'] == sex)]
            try:
                best_time = min(dfT['Mar'])
            except ValueError: # nobody in AG
                # print(year, ag, sex)
                continue
            for index, row in dfT.iterrows():
                score = best_time/row['Mar']
                dfM.loc[index, 'score'] = score

1956 30-34 M
1956 30-34 F
1956 25-29 F
1956 35-39 M
1956 35-39 F
1956 40-44 M
1956 40-44 F
1956 20-24 M
1956 20-24 F
1956 45-49 M
1956 45-49 F
1956 50-54 M
1956 50-54 F
1956 55-59 F
1956 60-64 M
1956 60-64 F
1956 16-19 F
1956 65-69 M
1956 65-69 F
1956 70-74 M
1956 70-74 F
1956 75-79 M
1956 75-79 F
1956 80-84 M
1956 80-84 F
1956 85-89 M
1956 85-89 F
1957 30-34 M
1957 30-34 F
1957 25-29 F
1957 35-39 F
1957 40-44 M
1957 40-44 F
1957 20-24 F
1957 45-49 M
1957 45-49 F
1957 50-54 M
1957 50-54 F
1957 55-59 F
1957 60-64 M
1957 60-64 F
1957 16-19 F
1957 65-69 M
1957 65-69 F
1957 70-74 M
1957 70-74 F
1957 75-79 M
1957 75-79 F
1957 80-84 M
1957 80-84 F
1957 85-89 M
1957 85-89 F
1958 30-34 M
1958 30-34 F
1958 25-29 M
1958 25-29 F
1958 35-39 F
1958 40-44 F
1958 20-24 F
1958 45-49 M
1958 45-49 F
1958 50-54 M
1958 50-54 F
1958 55-59 M
1958 55-59 F
1958 60-64 F
1958 16-19 F
1958 65-69 M
1958 65-69 F
1958 70-74 M
1958 70-74 F
1958 75-79 M
1958 75-79 F
1958 80-84 M
1958 80-84 F
1958 85-89 M
1958 85-89 F
1959 30-34 M
1959 30-34 F
1959 25-29 M
1959 35-39 F
1959 40-44 M
1959 40-44 F
1959 20-24 F
1959 45-49 F
1959 50-54 M
1959 50-54 F
1959 55-59 F
1959 60-64 F
1959 16-19 F
1959 65-69 M
1959 65-69 F
1959 70-74 M
1959 70-74 F
1959 75-79 M
1959 75-79 F
1959 80-84 M
1959 80-84 F
1959 85-89 M
1959 85-89 F
1960 30-34 M
1960 30-34 F
1960 25-29 F
1960 35-39 F
1960 40-44 M
1960 40-44 F
1960 20-24 F
1960 45-49 M
1960 45-49 F
1960 50-54 M
1960 50-54 F
1960 55-59 M
1960 55-59 F
1960 60-64 F
1960 16-19 F
1960 65-69 M
1960 65-69 F
1960 70-74 M
1960 70-74 F
1960 75-79 M
1960 75-79 F
1960 80-84 M
1960 80-84 F
1960 85-89 M
1960 85-89 F
1961 30-34 F
1961 25-29 F
1961 35-39 F
1961 40-44 M
1961 40-44 F
1961 20-24 F
1961 45-49 M
1961 45-49 F
1961 50-54 M
1961 50-54 F
1961 55-59 M
1961 55-59 F
1961 60-64 F
1961 16-19 F
1961 65-69 M
1961 65-69 F
1961 70-74 M
1961 70-74 F
1961 75-79 M
1961 75-79 F
1961 80-84 M
1961 80-84 F
1961 85-89 M
1961 85-89 F
1962 30-34 F
1962 25-29 F
1962 35-39 M
1962 35-39 F
1962 40-44 F
1962 20-24 F
1962 45-49 M
1962 45-49 F
1962 50-54 M
1962 50-54 F
1962 55-59 M
1962 55-59 F
1962 60-64 F
1962 16-19 F
1962 65-69 M
1962 65-69 F
1962 70-74 M
1962 70-74 F
1962 75-79 M
1962 75-79 F
1962 80-84 M
1962 80-84 F
1962 85-89 M
1962 85-89 F
1963 30-34 F
1963 25-29 F
1963 35-39 M
1963 35-39 F
1963 40-44 F
1963 20-24 F
1963 45-49 M
1963 45-49 F
1963 50-54 M
1963 50-54 F
1963 55-59 M
1963 55-59 F
1963 60-64 F
1963 16-19 F
1963 65-69 F
1963 70-74 M
1963 70-74 F
1963 75-79 M
1963 75-79 F
1963 80-84 M
1963 80-84 F
1963 85-89 M
1963 85-89 F
1964 30-34 F
1964 25-29 F
1964 35-39 F
1964 40-44 F
1964 20-24 F
1964 45-49 M
1964 45-49 F
1964 50-54 M
1964 50-54 F
1964 55-59 M
1964 55-59 F
1964 60-64 F
1964 16-19 F
1964 65-69 M
1964 65-69 F
1964 70-74 M
1964 70-74 F
1964 75-79 M
1964 75-79 F
1964 80-84 M
1964 80-84 F
1964 85-89 M
1964 85-89 F
1965 30-34 M
1965 30-34 F
1965 25-29 F
1965 35-39 M
1965 35-39 F
1965 40-44 F
1965 20-24 F
1965 45-49 M
1965 45-49 F
1965 50-54 M
1965 50-54 F
1965 55-59 M
1965 55-59 F
1965 60-64 M
1965 60-64 F
1965 16-19 F
1965 65-69 M
1965 65-69 F
1965 70-74 M
1965 70-74 F
1965 75-79 M
1965 75-79 F
1965 80-84 M
1965 80-84 F
1965 85-89 M
1965 85-89 F
1966 30-34 F
1966 25-29 F
1966 35-39 F
1966 40-44 F
1966 20-24 F
1966 45-49 M
1966 45-49 F
1966 50-54 M
1966 50-54 F
1966 55-59 M
1966 55-59 F
1966 60-64 M
1966 60-64 F
1966 16-19 F
1966 65-69 M
1966 65-69 F
1966 70-74 M
1966 70-74 F
1966 75-79 M
1966 75-79 F
1966 80-84 M
1966 80-84 F
1966 85-89 M
1966 85-89 F
1967 30-34 F
1967 25-29 F
1967 35-39 F
1967 40-44 M
1967 40-44 F
1967 20-24 F
1967 45-49 M
1967 45-49 F
1967 50-54 F
1967 55-59 M
1967 55-59 F
1967 60-64 M
1967 60-64 F
1967 16-19 F
1967 65-69 M
1967 65-69 F
1967 70-74 M
1967 70-74 F
1967 75-79 M
1967 75-79 F
1967 80-84 M
1967 80-84 F
1967 85-89 M
1967 85-89 F
1968 30-34 F
1968 25-29 F
1968 35-39 M
1968 35-39 F
1968 40-44 M
1968 40-44 F
1968 20-24 F
1968 45-49 M
1968 45-49 F
1968 50-54 F
1968 55-59 M
1968 55-59 F
1968 60-64 M
1968 60-64 F
1968 16-19 F
1968 65-69 M
1968 65-69 F
1968 70-74 F
1968 75-79 M
1968 75-79 F
1968 80-84 M
1968 80-84 F
1968 85-89 M
1968 85-89 F
1969 30-34 F
1969 25-29 F
1969 35-39 F
1969 40-44 M
1969 40-44 F
1969 20-24 F
1969 45-49 F
1969 50-54 M
1969 50-54 F
1969 55-59 F
1969 60-64 F
1969 16-19 F
1969 65-69 M
1969 65-69 F
1969 70-74 M
1969 70-74 F
1969 75-79 M
1969 75-79 F
1969 80-84 M
1969 80-84 F
1969 85-89 M
1969 85-89 F
1970 30-34 F
1970 25-29 F
1970 35-39 F
1970 40-44 F
1970 20-24 F
1970 45-49 F
1970 50-54 F
1970 55-59 F
1970 60-64 F
1970 16-19 F
1970 65-69 M
1970 65-69 F
1970 70-74 M
1970 70-74 F
1970 75-79 M
1970 75-79 F
1970 80-84 M
1970 80-84 F
1970 85-89 M
1970 85-89 F
1971 30-34 F
1971 35-39 F
1971 40-44 F
1971 20-24 F
1971 45-49 F
1971 50-54 F
1971 55-59 F
1971 60-64 F
1971 16-19 F
1971 65-69 M
1971 65-69 F
1971 70-74 M
1971 70-74 F
1971 75-79 M
1971 75-79 F
1971 80-84 M
1971 80-84 F
1971 85-89 M
1971 85-89 F
1972 30-34 F
1972 25-29 F
1972 35-39 M
1972 35-39 F
1972 40-44 F
1972 20-24 F
1972 45-49 M
1972 50-54 M
1972 50-54 F
1972 55-59 M
1972 55-59 F
1972 60-64 F
1972 16-19 F
1972 65-69 M
1972 65-69 F
1972 70-74 M
1972 70-74 F
1972 75-79 M
1972 75-79 F
1972 80-84 M
1972 80-84 F
1972 85-89 M
1972 85-89 F
1973 25-29 F
1973 35-39 F
1973 40-44 F
1973 20-24 F
1973 45-49 M
1973 50-54 M
1973 50-54 F
1973 55-59 M
1973 55-59 F
1973 60-64 M
1973 60-64 F
1973 16-19 M
1973 16-19 F
1973 65-69 M
1973 65-69 F
1973 70-74 M
1973 70-74 F
1973 75-79 M
1973 75-79 F
1973 80-84 M
1973 80-84 F
1973 85-89 M
1973 85-89 F
1974 35-39 F
1974 40-44 F
1974 45-49 F
1974 50-54 F
1974 16-19 F
1974 65-69 F
1974 70-74 M
1974 70-74 F
1974 75-79 M
1974 75-79 F
1974 80-84 M
1974 80-84 F
1974 85-89 M
1974 85-89 F
1975 40-44 F
1975 50-54 F
1975 55-59 F
1975 60-64 F
1975 16-19 F
1975 65-69 F
1975 70-74 M
1975 70-74 F
1975 75-79 M
1975 75-79 F
1975 80-84 M
1975 80-84 F
1975 85-89 M
1975 85-89 F
1976 50-54 F
1976 55-59 F
1976 60-64 F
1976 16-19 F
1976 65-69 F
1976 70-74 M
1976 70-74 F
1976 75-79 M
1976 75-79 F
1976 80-84 M
1976 80-84 F
1976 85-89 M
1976 85-89 F
1977 40-44 F
1977 55-59 F
1977 60-64 M
1977 60-64 F
1977 16-19 F
1977 65-69 F
1977 70-74 M
1977 70-74 F
1977 75-79 M
1977 75-79 F
1977 80-84 M
1977 80-84 F
1977 85-89 M
1977 85-89 F
1978 55-59 F
1978 60-64 F
1978 16-19 F
1978 65-69 M
1978 65-69 F
1978 70-74 F
1978 75-79 M
1978 75-79 F
1978 80-84 M
1978 80-84 F
1978 85-89 M
1978 85-89 F
1979 45-49 F
1979 50-54 F
1979 55-59 F
1979 60-64 F
1979 16-19 F
1979 65-69 F
1979 70-74 M
1979 70-74 F
1979 75-79 M
1979 75-79 F
1979 80-84 M
1979 80-84 F
1979 85-89 M
1979 85-89 F
1980 55-59 F
1980 60-64 F
1980 65-69 F
1980 70-74 M
1980 70-74 F
1980 75-79 M
1980 75-79 F
1980 80-84 M
1980 80-84 F
1980 85-89 M
1980 85-89 F
1981 16-19 F
1981 65-69 F
1981 70-74 M
1981 70-74 F
1981 75-79 M
1981 75-79 F
1981 80-84 M
1981 80-84 F
1981 85-89 M
1981 85-89 F
1982 65-69 F
1982 70-74 F
1982 75-79 M
1982 75-79 F
1982 80-84 M
1982 80-84 F
1982 85-89 M
1982 85-89 F
1983 65-69 M
1983 65-69 F
1983 70-74 F
1983 75-79 F
1983 80-84 M
1983 80-84 F
1983 85-89 M
1983 85-89 F
1984 60-64 F
1984 16-19 F
1984 65-69 F
1984 70-74 F
1984 75-79 M
1984 75-79 F
1984 80-84 M
1984 80-84 F
1984 85-89 M
1984 85-89 F
1985 60-64 F
1985 16-19 F
1985 65-69 F
1985 70-74 F
1985 75-79 M
1985 75-79 F
1985 80-84 M
1985 80-84 F
1985 85-89 M
1985 85-89 F
1986 60-64 F
1986 16-19 F
1986 70-74 F
1986 75-79 F
1986 80-84 M
1986 80-84 F
1986 85-89 M
1986 85-89 F
1987 65-69 F
1987 70-74 F
1987 75-79 M
1987 75-79 F
1987 80-84 M
1987 80-84 F
1987 85-89 M
1987 85-89 F
1988 16-19 F
1988 65-69 F
1988 70-74 F
1988 75-79 F
1988 80-84 M
1988 80-84 F
1988 85-89 M
1988 85-89 F
1989 16-19 F
1989 65-69 F
1989 70-74 F
1989 75-79 F
1989 80-84 M
1989 80-84 F
1989 85-89 M
1989 85-89 F
1990 16-19 F
1990 65-69 F
1990 70-74 F
1990 75-79 M
1990 75-79 F
1990 80-84 M
1990 80-84 F
1990 85-89 M
1990 85-89 F
1991 60-64 F
1991 65-69 F
1991 70-74 F
1991 75-79 M
1991 75-79 F
1991 80-84 M
1991 80-84 F
1991 85-89 M
1991 85-89 F
1992 16-19 F
1992 70-74 F
1992 75-79 M
1992 75-79 F
1992 80-84 M
1992 80-84 F
1992 85-89 M
1992 85-89 F
1993 60-64 F
1993 70-74 F
1993 75-79 F
1993 80-84 M
1993 80-84 F
1993 85-89 M
1993 85-89 F
1994 60-64 F
1994 16-19 F
1994 65-69 F
1994 70-74 F
1994 75-79 F
1994 80-84 M
1994 80-84 F
1994 85-89 M
1994 85-89 F

1995 16-19 F
1995 65-69 F
1995 70-74 F
1995 75-79 M
1995 75-79 F
1995 80-84 M
1995 80-84 F
1995 85-89 M
1995 85-89 F
1996 16-19 F
1996 70-74 F
1996 75-79 M
1996 75-79 F
1996 80-84 M
1996 80-84 F
1996 85-89 M
1996 85-89 F
1997 65-69 F
1997 75-79 F
1997 80-84 M
1997 80-84 F
1997 85-89 M
1997 85-89 F
1998 65-69 F
1998 70-74 F
1998 75-79 M
1998 75-79 F
1998 80-84 M
1998 80-84 F
1998 85-89 M
1998 85-89 F
1999 70-74 F
1999 75-79 F
1999 80-84 M
1999 80-84 F
1999 85-89 M
1999 85-89 F
2000 70-74 F
2000 75-79 M
2000 75-79 F
2000 80-84 M
2000 80-84 F
2000 85-89 M
2000 85-89 F
2001 60-64 F
2001 16-19 F
2001 70-74 F
2001 75-79 M
2001 75-79 F
2001 80-84 M
2001 80-84 F
2001 85-89 M
2001 85-89 F
2002 16-19 F
2002 70-74 F
2002 75-79 M
2002 75-79 F
2002 80-84 M
2002 80-84 F
2002 85-89 M
2002 85-89 F
2003 16-19 F
2003 75-79 M
2003 75-79 F
2003 80-84 M
2003 80-84 F
2003 85-89 M
2003 85-89 F
2004 16-19 F
2004 70-74 F
2004 75-79 M
2004 75-79 F
2004 80-84 M
2004 80-84 F
2004 85-89 M
2004 85-89 F
2005 16-19 F
2005 75-79 F
2005 80-84 M
2005 80-84 F
2005 85-89 M
2005 85-89 F
2006 70-74 F
2006 75-79 F
2006 80-84 M
2006 80-84 F
2006 85-89 M
2006 85-89 F
2007 16-19 F
2007 65-69 F
2007 75-79 F
2007 80-84 M
2007 80-84 F
2007 85-89 M
2007 85-89 F
2008 16-19 F
2008 65-69 F
2008 70-74 F
2008 75-79 F
2008 80-84 M
2008 80-84 F
2008 85-89 M
2008 85-89 F
2009 16-19 F
2009 70-74 F
2009 75-79 F
2009 80-84 F
2009 85-89 M
2009 85-89 F
2010 75-79 F
2010 80-84 F
2010 85-89 M
2010 85-89 F
2011 16-19 M
2011 70-74 F
2011 75-79 F
2011 80-84 M
2011 80-84 F
2011 85-89 M
2011 85-89 F
2012 70-74 F
2012 75-79 M
2012 75-79 F
2012 80-84 M
2012 80-84 F
2012 85-89 M
2012 85-89 F
2013 16-19 F
2013 75-79 M
2013 75-79 F
2013 80-84 M
2013 80-84 F
2013 85-89 M
2013 85-89 F
2014 16-19 F
2014 70-74 F
2014 75-79 F
2014 80-84 M
2014 80-84 F
2014 85-89 M
2014 85-89 F
2015 75-79 M
2015 75-79 F
2015 80-84 M
2015 80-84 F
2015 85-89 M
2015 85-89 F
2016 16-19 F
2016 70-74 F
2016 75-79 M
2016 75-79 F
2016 80-84 M
2016 80-84 F
2016 85-89 M
2016 85-89 F
2017 16-19 F
2017 70-74 F
2017 75-79 M
2017 75-79 F
2017 80-84 M
2017 80-84 F
2017 85-89 M
2017 85-89 F
2018 16-19 F
2018 70-74 F
2018 75-79 F
2018 80-84 M
2018 80-84 F
2018 85-89 M
2018 85-89 F

Below is just trying to figure out what is going on

In [182]:
dfA.loc[(dfA['score'] == 1) & (dfA['Div_place'] != '1')]

,ID,Pos,Div,PPs,Sex,Age,Grp,City,State,NNup,BCupSplit,BCup,AFupSplit,AFup,AscSplit,Asc,Race,Year,Div_place,score
1646,56580,5.0,4/18,4,F,46.0,45-49,OAKLAND,CA,NaN,NaN,NaN,NaN,NaN,NaN,12460.0,A,1975,4,1.0
2213,47613,277.0,2/6,1,M,62.0,60-64,MONTE VISTA,CO,NaN,NaN,NaN,NaN,NaN,NaN,14936.0,A,1976,2,1.0
2278,57330,68.0,4/10,8,M,58.0,55-59,PUEBLO,CO,NaN,NaN,NaN,NaN,NaN,NaN,12526.0,A,1972,4,1.0
2279,57561,89.0,4/14,8,M,59.0,55-59,PUEBLO,CO,NaN,NaN,NaN,NaN,NaN,NaN,12496.0,A,1973,4,1.0
2567,56595,27.0,16/18,8,F,58.0,55-59,SAN FRANCISCO,CA,NaN,NaN,NaN,NaN,NaN,NaN,22200.0,A,1975,16,1.0
2828,53984,12.0,2/34,3,M,18.0,16-19,GRAND JUNCTION,CO,NaN,NaN,NaN,NaN,NaN,NaN,11403.0,A,1968,2,1.0
3646,29854,10.0,3/7,2,F,39.0,35-39,BOULDER,CO,NaN,NaN,NaN,NaN,NaN,NaN,14207.0,A,1977,3,1.0
4084,46815,15.0,3/20,1,F,27.0,25-29,DENVER,CO,NaN,NaN,NaN,NaN,NaN,NaN,13953.0,A,1978,3,1.0
4620,54107,NaN,3/3,2,M,64.0,60-64,SOUTHGATEE,MI,NaN,NaN,NaN,NaN,NaN,NaN,23100.0,A,1970,3,1.0
7099,47426,8.0,2/8,4,F,31.0,30-34,NORTH OAKS,MN,NaN,NaN,NaN,NaN,NaN,NaN,13765.0,A,1976,2,1.0
7760,57027,7.0,2/10,1,F,21.0,20-24,COLORADO SPGS,CO,NaN,NaN,NaN,NaN,NaN,NaN,13837.0,A,1974,2,1.0
7914,49793,491.0,15/21,3,M,53.0,50-54,BLUE SPRINGS,MO,NaN,NaN,NaN,NaN,NaN,NaN,15574.0,A,1980,15,1.0
7990,49346,44.0,2/77,2,M,41.0,40-44,TORONTO,CAN,NaN,NaN,NaN,NaN,NaN,NaN,10234.0,A,1980,2,1.0
7999,29977,77.0,3/15,3,M,50.0,50-54,CAMBRIDGE,MA,NaN,NaN,NaN,NaN,NaN,NaN,11385.0,A,1977,3,1.0
9408,57057,61.0,41/111,5,M,39.0,35-39,ALBUQUERQUE,NM,NaN,NaN,NaN,NaN,NaN,NaN,11433.0,A,1974,41,1.0
9473,47490,41.0,3/49,1,M,39.0,35-39,LAMAR,CO,NaN,NaN,NaN,NaN,NaN,NaN,10482.0,A,1976,3,1.0
9852,54118,26.0,15/77,1,M,21.0,20-24,HUTCHINSON,KS,NaN,NaN,NaN,NaN,NaN,NaN,11078.0,A,1971,15,1.0
11010,57049,31.0,23/111,37,M,29.0,25-29,ASPEN,CO,NaN,NaN,NaN,NaN,NaN,NaN,10347.0,A,1974,23,1.0
11383,47864,2.0,2/3,1,F,28.0,25-29,COLORADO SPGS,CO,NaN,NaN,NaN,NaN,NaN,NaN,17940.0,A,1963,2,1.0
11412,54123,35.0,5/30,8,M,47.0,45-49,BOULDER,CO,NaN,NaN,NaN,NaN,NaN,NaN,11512.0,A,1971,5,1.0
11413,56614,37.0,2/21,8,M,50.0,50-54,DENVER,CO,NaN,NaN,NaN,NaN,NaN,NaN,10572.0,A,1975,2,1.0
11470,57529,56.0,6/27,1,M,48.0,45-49,BOULDER,CO,NaN,NaN,NaN,NaN,NaN,NaN,11431.0,A,1973,6,1.0
11750,47891,5.0,5/5,1,F,38.0,35-39,COLORADO SPGS,CO,NaN,NaN,NaN,NaN,NaN,NaN,23288.0,A,1964,5,1.0
12066,29905,5.0,3/80,2,M,25.0,25-29,COLORADO SPGS,CO,NaN,NaN,NaN,NaN,NaN,NaN,9015.0,A,1977,3,1.0
12375,56584,11.0,7/18,1,F,38.0,35-39,RENO,NV,NaN,NaN,NaN,NaN,NaN,NaN,14708.0,A,1975,7,1.0
12540,30940,3.0,3/3,1,F,19.0,16-19,GROTON,CT,NaN,NaN,NaN,NaN,NaN,NaN,20776.0,A,1962,3,1.0
12825,56581,6.0,2/8,2,F,19.0,16-19,COLORADO SPGS,CO,NaN,NaN,NaN,NaN,NaN,NaN,12700.0,A,1975,2,1.0
13496,54113,6.0,2/2,1,F,41.0,40-44,MANITOU SPRINGS,CO,NaN,NaN,NaN,NaN,NaN,NaN,26400.0,A,1971,2,1.0
15141,30409,9.0,2/113,6,M,36.0,35-39,ARVADA,CO,NaN,NaN,NaN,NaN,NaN,NaN,9319.0,A,1979,2,1.0
15199,49733,431.0,3/6,20,M,64.0,60-64,SAN DIEGO,CA,NaN,NaN,NaN,NaN,NaN,NaN,14631.0,A,1980,3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64104,46806,6.0,2/11,2,F,34.0,30-34,SAN FRANCISCO,CA,NaN,NaN,NaN,NaN,NaN,NaN,12314.0,A,1978,2,1.0
64173,54114,12.0,2/11,6,M,38.0,35-39,MANHATTAN,KS,NaN,NaN,NaN,NaN,NaN,NaN,10110.0,A,1971,2,1.0
64177,46968,90.0,2/22,6,M,45.0,45-49,MANHATTAN,KS,NaN,NaN,NaN,NaN,NaN,NaN,11255.0,A,1978,2,1.0
64204,29923,23.0,3/38,12,M,42.0,40-44,ALBUQUERQUE,NM,NaN,NaN,NaN,NaN,NaN,NaN,10175.0,A,1977,3,1.0
64205,46904,26.0,3/37,12,M,43.0,40-44,ALBUQUERQUE,NM,NaN,NaN,NaN,NaN,NaN,NaN,10031.0,A,1978,3,1.0
65674,46926,48.0,5/91,1,M,35.0,35-39,CINCINNATI,OH,NaN,NaN,NaN,NaN,NaN,NaN,10529.0,A,1978,5,1.0
68526,47342,464.0,6/8,3,M,57.0,55-59,COLORADO SPGS,CO,NaN,NaN,NaN,NaN,NaN,NaN,16947.0,A,1978,6,1.0
71662,56599,2.0,2/122,7,M,23.0,20-24,RYE,CO,NaN,NaN,NaN,NaN,NaN,NaN,7635.0,A,1975,2,1.0
72232,30338,5.0,2/12,1,F,26.0,25-29,DENVER,CO,NaN,NaN,NaN,NaN,NaN,NaN,12715.0,A,1979,2,1.0
73461,57592,122.0,2/6,19,M,66.0,65-69,SAN FRANCISCO,CA,NaN,NaN,NaN,NaN,NaN,NaN,14230.0,A,1973,2,1.0
73471,28304,902.0,2/2,19,M,77.0,75-79,SAN FRANCISCO,CA,NaN,NaN,NaN,NaN,NaN,NaN,20113.0,A,1985,2,1.0
73779,57515,40.0,14/55,2,M,27.0,25-29,GOLDEN,CO,NaN,NaN,NaN,NaN,NaN,NaN,11224.0,A,1973,14,1.0
73996,57478,10.0,10/16,5,F,36.0,35-39,ARVADA,CO,NaN,NaN,NaN,NaN,NaN,NaN,15080.0,A,1973,10,1.0
73997,57030,10.0,6/8,5,F,36.0,35-39,ARVADA,CO,NaN,NaN,NaN,NaN,NaN,NaN,14682.0,A,1974,6,1.0
73999,47435,18.0,2/8,5,F,38.0,35-39,ARVADA,CO,NaN,NaN,NaN,NaN,NaN,NaN,16334.0,A,1976,2,1.0
75352,49365,63.0,6/143,11,M,37.0,35-39,MONTROSE,CO,NaN,NaN,NaN,NaN,NaN,NaN,10690.0,A,1980,6,1.0
75400,46902,24.0,2/49,4,M,17.0,16-19,BOULDER,CO,NaN,NaN,NaN,NaN,NaN,NaN,9921.0,A,1978,2,1.0
77826,54197,134.0,2/3,2,M,66.0,65-69,JEMEZ PUEBLO,NM,NaN,NaN,NaN,NaN,NaN,NaN,17280.0,A,1971,2,1.0
77827,57394,157.0,2/3,2,M,68.0,65-69,JEMEZ PUEBLO,NM,NaN,NaN,NaN,NaN,NaN,NaN,17413.0,A,1972,2,1.0
79001,57285,2.0,2/5,5,F,32.0,30-34,SAN FRANCISCO,CA,NaN,NaN,NaN,NaN,NaN,NaN,12870.0,A,1972,2,1.0
80208,54115,14.0,2/30,2,M,40.0,40-44,DENVER,CO,NaN,NaN,NaN,NaN,NaN,NaN,10247.0,A,1971,2,1.0
80998,57062,72.0,4/14,1,M,54.0,50-54,HURLEY,NM,NaN,NaN,NaN,NaN,NaN,NaN,11596.0,A,1974,4,1.0
82022,54134,52.0,27/77,4,M,26.0,25-29,COLORADO SPGS,CO,NaN,NaN,NaN,NaN,NaN,NaN,12362.0,A,1971,27,1.0
82414,56586,17.0,6/8,1,F,25.0,25-29,COLORADO SPGS,CO,NaN,NaN,NaN,NaN,NaN,NaN,17850.0,A,1975,6,1.0
82562,57054,42.0,30/111,2,M,30.0,30-34,LEES SUMMIT,MO,NaN,NaN,NaN,NaN,NaN,NaN,10826.0,A,1974,30,1.0
82687,30839,439.0,2/3,8,M,67.0,65-69,SAN FRANCISCO,CA,NaN,NaN,NaN,NaN,NaN,NaN,16277.0,A,1979,2,1.0
83367,57472,4.0,4/16,2,F,22.0,20-24,LITTLETON,CO,NaN,NaN,NaN,NaN,NaN,NaN,12315.0,A,1973,4,1.0
84501,56603,16.0,3/56,2,M,19.0,16-19,SILVER CITY,NM,NaN,NaN,NaN,NaN,NaN,NaN,9457.0,A,1975,3,1.0
84755,30152,252.0,4/13,1,M,55.0,55-59,SACRAMENTO,CA,NaN,NaN,NaN,NaN,NaN,NaN,13727.0,A,1977,4,1.0
86141,56601,5.0,5/122,8,M,33.0,30-34,TUCSON,AZ,NaN,NaN,NaN,NaN,NaN,NaN,8670.0,A,1975,5,1.0

In [185]:
dfA.loc[(dfA['Year'] == 1975) & (dfA['Grp'] == '45-49') & (dfA['Sex'] == 'F')]

,ID,Pos,Div,PPs,Sex,Age,Grp,City,State,NNup,BCupSplit,BCup,AFupSplit,AFup,AscSplit,Asc,Race,Year,Div_place,score
1646,56580,5.0,4/18,4,F,46.0,45-49,OAKLAND,CA,NaN,NaN,NaN,NaN,NaN,NaN,12460.0,A,1975,4,1.000000
14150,56582,9.0,6/18,1,F,47.0,45-49,SANTA FE,NM,NaN,NaN,NaN,NaN,NaN,NaN,13920.0,A,1975,6,0.895115