In [2]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv("/Users/Mark Ivlev/Documents/GitHub/tavakaiv/pikes_peak_results.csv")

In [35]:
df=df.drop(columns='First')
df=df.drop(columns='Mi')
df=df.drop(columns='Last')

In [36]:
df.head() #DF with both ascent and marathon racers

,ID,Pos,Div,Mpos,Mdiv,PPs,Sex,Age,Grp,City,...,AFdwn,BCdwnSplit,BCdwn,NNdwnSplit,NNdwn,DwnSplit,Dwn,Mar,Race,Year
0,79698,410.0,67/77,NaN,NaN,1,F,34.0,30-34,COLORADO SPGS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2011
1,110626,257.0,40/132,NaN,NaN,1,M,34.0,30-34,LAKEWOOD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2017
2,75566,891.0,86/102,NaN,NaN,1,M,29.0,25-29,SAN ANTONIO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2009
3,70663,414.0,69/83,NaN,NaN,2,F,39.0,35-39,COLORADO SPGS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2007
4,74588,397.0,49/63,NaN,NaN,2,F,41.0,40-44,COLORADO SPGS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2009

In [37]:
dfA=df[df.Race=='A']

In [38]:
dfA.head() #DF with only ascent racers

,ID,Pos,Div,Mpos,Mdiv,PPs,Sex,Age,Grp,City,...,AFdwn,BCdwnSplit,BCdwn,NNdwnSplit,NNdwn,DwnSplit,Dwn,Mar,Race,Year
0,79698,410.0,67/77,NaN,NaN,1,F,34.0,30-34,COLORADO SPGS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2011
1,110626,257.0,40/132,NaN,NaN,1,M,34.0,30-34,LAKEWOOD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2017
2,75566,891.0,86/102,NaN,NaN,1,M,29.0,25-29,SAN ANTONIO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2009
3,70663,414.0,69/83,NaN,NaN,2,F,39.0,35-39,COLORADO SPGS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2007
4,74588,397.0,49/63,NaN,NaN,2,F,41.0,40-44,COLORADO SPGS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2009

In [39]:
dfM=df[df.Race=='M']

In [40]:
dfM.head() #DF with only marathon racers

,ID,Pos,Div,Mpos,Mdiv,PPs,Sex,Age,Grp,City,...,AFdwn,BCdwnSplit,BCdwn,NNdwnSplit,NNdwn,DwnSplit,Dwn,Mar,Race,Year
12,111562,NaN,NaN,170.0,15/17,3,F,55.0,55-59,COLORADO SPRING,...,NaN,NaN,7:58:48,NaN,NaN,NaN,3:44:45,9:47:05,M,2017
13,79048,NaN,NaN,402.0,51/70,1,M,52.0,50-54,CORAL SPRINGS,...,NaN,NaN,NaN,NaN,NaN,NaN,3:03:56,8:03:51,M,2010
19,44930,NaN,NaN,164.0,54/101,3,M,31.0,30-34,AUSTIN,...,NaN,NaN,NaN,NaN,NaN,NaN,1:58:15,5:21:16,M,1981
20,48926,NaN,NaN,197.0,56/108,3,M,32.0,30-34,WESTFORD,...,NaN,NaN,NaN,NaN,NaN,NaN,2:06:25,5:39:32,M,1982
24,114099,NaN,NaN,14.0,3/79,3,M,35.0,35-39,BOULDER,...,3:15:35,0:20:30,3:36:05,0:25:36,4:01:41,0:26:37,1:39:41,4:28:18,M,2018